openapi: 3.0.0
info:
  title: Notification Service API
  version: 1.0.0

paths:
  /api/v1/notifications:
    post:
      summary: Envia uma notificação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, to, message]
              properties:
                type:
                  type: string
                  example: EMAIL
                to:
                  type: string
                subject:
                  type: string
                message:
                  type: string
      responses:
        "200":
          description: Notificação enviada
        "503":
          description: Serviço indisponível